.mat-dialog-title{
  margin-bottom: 5px !important;
}

.mat-dialog-content {
  max-height: unset !important;
  max-width: unset !important;
  padding: unset !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
